.expense-item__root {
    background-color: white;
    height: 60px;
    margin-bottom: 30px;
    box-shadow: 10px;
}
.expense-item__root div {
    width: 33.33%;
    display: inline;
    margin-right: 20px;
}
.expense-item__title {
    font-size: 30px;
}
.expense-item__amount {
    float: right;
    border: 2px solid red;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}